
@charset "UTF-8";
/* **************************************** */
/* description : 미래유망 용빈
/* keywords : 용빈프로필, 용빈자기소개
/* author : 조용빈 */ 
/* create Date : 2024-09-19
/* update Date : 2024-11-09
/* **************************************** */

/* @import url(파일명.css); */

/* 윈도우 사이즈 출력 */
#resolution{position:fixed;left:50%;top:50%;transform:translate(-50%, -50%);font-size:60px;color:red;}

header{
    border-bottom:1px solid #ccc;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;

    background-color: #fff;
    transition: background-color 0.35s;
}
header nav a.headerActive{
    color: #fff !important;
}
/* ********************************************************* */
/* 반응형 Mobile (max-width:320px) 우선 그리드 시스템
/* ********************************************************* */
@media screen and (max-width:320px){

    /* **************************************** */
    /* description : 미래유망 조용빈
    /* keywords : 용빈프로필, 용빈자기소개
    /* author : 조용빈 */ 
    /* create Date : 2024-09-19
    /* update Date : 2024-11-09
    /* **************************************** */
    header{
        height: 100px;
    }
    #holo1 h1{
        margin-top: 25px;
    }
    #sbmainpc #charimg{
        padding-left: 0;
    }
    #sbmainpc #chardetail{
        padding-left: 20px;
    }
    #HTML5 img{
        width: 300px;
    }
    #HTML5 li p{
        font-size: 13px;
    }
    #project .card{
        margin-left: 10px;
    }
    #holo1 span{
        font-size: 15px;
    }
}

/* ********************************************************* */
/* 반응형 Mobile (max-width:375px) 우선 그리드 시스템
/* ********************************************************* */
@media screen and (min-width:321px) and (max-width:376px){

    /* **************************************** */
    /* description : 미래유망 조용빈
    /* keywords : 용빈프로필, 용빈자기소개
    /* author : 조용빈 */ 
    /* create Date : 2024-09-19
    /* update Date : 2024-11-09
    /* **************************************** */
    
    header{
        height: 100px;
    }
    #holo1 h1{
        margin-top: 30px;
    }
    #holo1 span{
        font-size: 15px;
    }
    .col-12{
        width: 100%;
    }
    #sbmainpc #charimg{
        padding-left: 30px;
    }
    #sbmainpc #chardetail{
        padding-left: 30px;
    }
    #holo1 h1 span{
        font-size: 16px;
    }
    #sbmainpc #charimg img{
        width: 280px;
        height: 280px;
    }
    #HTML5 img{
        width: 300px;
    }
    #HTML5 li p{
        font-size: 16px;
    }
    .allcard #programing{
        margin-top: 30px;
        min-height: 380px;
    }
    #project .card{
        max-width: 250px;
        max-height: 340px;
        margin-left: 60px;
    }
}

/* ********************************************************* */
/* 반응형 Mobile (max-width:425px) 우선 그리드 시스템
/* ********************************************************* */
@media screen and (min-width:377px) and (max-width:425px){

    /* **************************************** */
    /* description : 미래유망 조용빈
    /* keywords : 용빈프로필, 용빈자기소개
    /* author : 조용빈 */ 
    /* create Date : 2024-09-19
    /* update Date : 2024-11-09
    /* **************************************** */
    header{
        height: 100px;
    }
    #holo1 h1{
        margin-top: 0;
    }
    #sbmainpc #charimg{
        padding-left: 60px;
    }
    #HTML5 img{
        width: 300px;
    }
    #HTML5 li p{
        font-size: 20px;
    }
    .card{
        margin-left: 55px;
    }
}

/* ********************************************************* */
/* 반응형 Mobile 우선 그리드 시스템
/* ********************************************************* */
@media screen and (min-width:426px) and (max-width:576px){

    /* **************************************** */
    /* description : 미래유망 조용빈
    /* keywords : 용빈프로필, 용빈자기소개
    /* author : 조용빈 */ 
    /* create Date : 2024-09-19
    /* update Date : 2024-11-09
    /* **************************************** */

    /* 컨텐츠 레이아웃 그리드 시스템(.custom-innerWrap) */
    .custom-innerWrap{
        width: 100%;
        min-width:320px;
        padding:0 20px;
    }  
    header{
        height: 100px;
    }
    #holo1 h1{
        margin-top: 25px;
    }
    #HTML5 li p{
        height: 80px;
        font-size: 20px;
    }
    .card{
        min-width: 180px;
        min-height: 440px;
        margin-left: 65px;
    }
    .allcard{
        display: block;
    }
}
  
/* ********************************************************* */
/* 반응형 web Tablet 모드
/* ********************************************************* */
@media screen and (min-width:577px) and (max-width:767px){

    /* **************************************** */
     /* description : 미래유망 조용빈
     /* keywords : 용빈프로필, 용빈자기소개
     /* author : 조용빈 */ 
     /* create Date : 2024-09-19
     /* update Date : 2024-11-09
     /* **************************************** */
    .box #holo1{
        margin-top: 11px;
    }
    #sbmainpc #charimg{
        padding-left: 0;
        text-align: center;
    }
    #HTML5 li p{
         font-size: 25px;
    }
    .card{
        min-width: 240px;
        min-height: 390px;
        margin-left: 100px;
    }
}
   
/* ********************************************************* */
/* 반응형 Tablet(Tablet Vertical/세로모드)
/* ********************************************************* */
@media screen and (min-width:768px) and (max-width:1199px){

   /* **************************************** */
    /* description : 미래유망 조용빈
    /* keywords : 용빈프로필, 용빈자기소개
    /* author : 조용빈 */ 
    /* create Date : 2024-09-19
    /* update Date : 2024-11-09
    /* **************************************** */

    .custom-innerWrap{
        width: 960px;
        margin:0 auto;
        padding:0 20px;
    }
    #HTML5 li p{
        font-size: 25px;
    }
    .allcard{
        display: flex;
    }
    .card{
        min-width: 250px;
        min-height: 390px;
    }
}
   
/* ********************************************************* */
/* 반응형 PC(Tablet Horizontal/가로모드)
/* ********************************************************* */
@media screen and (min-width:1200px){

    /* **************************************** */
    /* description : 미래유망 조용빈
    /* keywords : 용빈프로필, 용빈자기소개
    /* author : 조용빈 */ 
    /* create Date : 2024-09-19
    /* update Date : 2024-11-09
    /* **************************************** */
    
    .custom-innerWrap{
        width: 1140px;
        margin:0 auto;
    }
    .allcard{
        display: flex;
    }
}
.customHidden{
    position: absolute;
    left: -9999999px
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
/* header */
header{
    z-index: 10;
}
#holo{
    height: 70px;
}
#holo #holo2{
    margin-top: 15px;
    font-weight: 800;
}
#holo1 h1 img{
    border-radius: 70%;
}
h1 span{
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;

    color: #000;

    transition: color 0.35s;

}

header nav a{
    color: #000;
    transition: color 0.35s;
}
/* //header */

/* mainpage */
#bgpc{
    background: linear-gradient(rgba(255, 179, 39, 0.3), rgba(10, 10, 10, 1)), url(../img/programbg.png) no-repeat;
    background-size: cover;
    color: white;
    width: 100%;
}
#sogae{
    text-align: center; padding-top: 100px;
}
#dream{
    padding-top: 300px;
    font-size: 45px;
    font-weight: 800;
}
.mn{
    padding-top: 70px;
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 400px;
}
/* //mainpage */

/* mainvisualpage */
#have{
    text-align: center; padding-top: 100px;
    padding-bottom: 50px;
    color: rgb(248, 161, 0);
}
#charimg{
    padding-left: 120px;
}
#chardetail{
    padding-left: 100px;
}
#chardetail .myname{
    font-size: 30px;
    display: block;
    margin-bottom: 10px;
    font-weight: 800;
}
/* //mainvisualpage */

/* HTMLpage */
#hl{
    margin-top: 50px;
    margin-bottom: 20px;
} 
#HTML5 .art{
    display: block;
    font-size: 40px;
    font-weight: bolder;
    margin-top: 80px;
    padding-left: 30px;
}
#HTML5 nav{
    font-size: 25px;
    margin-bottom: 20px;
    padding-left: 30px;
}
#HTML5 .skillmenu{
    display: flex;
}
#HTML5 p{
    width: 50%;
    height: 100px;
    font-size: 30px;
    text-align: center;
    background-color: #fff;
    border: 2px solid #000;
    box-shadow: 5px 5px 2px grey;

    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-right: 30px;
}
li{
    display: flex;
}
/* HTML page */

/* project page */
.card{
    width: 300px;
    height: 340px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.card img{
    padding: 15px;
}
.card a{
    margin-bottom: 10px;
}
/* //project page */

/* figma page */
#fm{
    margin-top: 50px;
}
#figma .figmafoem{
    display: block;
    font-size: 40px;
    margin-top: 70px;
    font-weight: bolder;
    padding-left: 30px
}
#figma nav{
    font-size: 25px;
    margin-bottom: 80px;
    padding-left: 30px;
}
/* //figma page */

/* 위대한 것은 시 영역 */
.great{
    margin-top: 70px;
    display: block;
    padding-left: 30px;
    font-size: 20px;
    margin-bottom: 30px;
}
/* #phone{
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: center;
} */
/* //위대한 것은 시 영역 */

/* poem visual page*/
#winner #amg{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: bolder;
    color: rgba(216, 89, 16, 0.815);
}
#amg span{
    color: rgb(255, 0, 179);
}
#winner img{
    border-radius: 70%;
    display: block;
}
#visual #moning{
    max-width: 300px;
    max-height: 400px;
}
#moning img{
    width: 100%;
}
#moning .mon{
    font-size: 17px;
    font-weight: bolder;
    text-align: center;
}
#visual #program{
    max-width: 300px;
    max-height: 400px;
}
#program img{
    width: 100%;
}
#program p{
    font-size: 17px;
    font-weight: bolder;
    text-align: center;
}
#visual #class{
    max-width: 300px;
    max-height: 400px;
}
#class img{
    width: 100%;
}
#class p{
    font-size: 17px;
    font-weight: bolder;
    text-align: center;
}
/* //poem visual page*/

/* 가르기 */
hr{
    margin: 0;
}
/* //가르기 */

/* footer */
.mire{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 0;
}
.calling{
    font-size: 16px;
    margin-bottom: 0;
}
.site{
    font-size: 12px;
}
.copy{
    font-size: 17px;
    font-weight: bolder;
}
#fto{
    margin-top: 50px;
    margin-bottom: 50px;
}
#fto .logo{
    margin-right: 20px;
}
#ftt{
    margin-top: 50px;
    margin-bottom: 50px;
}
#ftt .icon{
    margin-left: 50px;
}
.icon #kakao{
    margin-right: 10px;
}
.icon #insta{
    margin-right: 10px;
}
/* //footer */

/* upbtn */
.gt{
    border-radius: 10px;
    border-color: black;
    background-color: #fff;
    box-shadow: 3px 3px 3px black;
    position:fixed;
    right: 10px;
    bottom: 15px;
    width: 45px;
    height: 55px;
    font-size: 30px;
    
}
#upicon{
    color: black;
}
/* //upbtn */